    * {
        box-sizing:  border-box;
        margin: 0;
        padding: 0;
    }

    html {
        font-size: 62.5%;
    }

    body {
        font-size: 16px;
    }


    /* nuestro container principal es necesario para poder jugar con los hijos contenedores 
    
    
    
    */
    .container { 
        border: 0.3rem solid black;
        /*posiciona mis elementos verticalmente (columna )y mas flexibles, trae display row, display direccion de los hijos*/
        display: flex;
        
        /* flex-direction: column; nos vuelve a poner en columnas los contenedores, para jugar con mi display flex */
        /* flex-direction: row-reverse; nos voltea las columnas, de arriba hacia abajo */

        /* hace que mis contenedores se acomden hacia abajo cuando mi pantalla se achica 
        cuando tengo mas elementos lo puedo usar para cundo ya no tengo espacio, mi container va a crecer de forma automatica,
         me despreocupo de los porcentajes
         */


        flex-wrap: wrap;

        /*  flex-wrap: wrap-reverse; hace lo mismo que el wrap pero los posiciona al reves, comienza con el 6 y 
        dependiendo el espacio se posciona de manera decreciente */
         

        /* hace que mis cajas se centren en la pantalla. */
        justify-content: center;

        /* justify-content: flex-end; esto hace que todo se aline a la derecha si antes estaba a la izquierda o centrado

        justify-content: flex-start; esto hace que todo se aline a la izquierda si antes estaba a la derecha o centrado */

        /* justify-content: space-around; cada uno de los contenedores tendrá un pequeño espacio entre sí 
        pero no sería el mismo que el de las orillas */

        /* justify-content: space-evenly; se acomodará un espacio entre los contenedores y orillas exactamente de la misma distancia */
    }

    .box {
        width: 10rem;
        height: 10rem;
    }
    .box1 {
        background-color: aliceblue;
    }
    .box2 {
        background-color:aqua;
    }
    .box3 {
        background-color:aquamarine;
    }
    .box4 {
        background-color:blueviolet;
    }
    .box5 {
        background-color:rgb(175, 141, 190);
    }
    .box6 {
        background-color:rgb(155, 6, 160);
    }
