*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

padre-div {
    border: 2px black dotted; /* dotted siginifica punteado en el borde */
    display: inline-block;
}

.box {
    display: inline-block;
    background-color: red;
    width: 100px;
    height: 100px;
}