* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    /* con esto va a suceder que el main va a ocupar el 100% del viewport, en el width y height */
    width: 100vw;
    height: 100vh;
    background-color: purple;
}

section {
    /* para poder jugar con el min y max width se encesita un width base y casi siempre se usa en porcentaje */
    width: 80%;
    min-width: 320px;
    height: 500px;
   /*  el 0 auto quiere decir que de arriba a abajo no se le agrega ningun margin, pero de derecha a izquierda 
    agregue uno que se ajuste de manera automática */
    margin: 0 auto;
    background-color: red;
}